h1 {
    color: brown;
    font-size: 45px;
    text-decoration: underline;
    flex-flow: row wrap;
    text-align: center;
}
p {
    color: darkcyan;
    text-align: center;
    font-size: 35px;
}
h2 { 
    color: blue;
    font-size: 45px;
    font-style: italic;
    text-align: center;
}
h3 {
    color: aquamarine;
    font-size: 45px;
    text-align: center
}
.one {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}